.mission-card {
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}

.mission-quote {
  font-style: italic;
  font-size:1.1em;
}

.section-icon {
    background: #0d2235;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    padding-top:0.5rem;
    padding-left:0.5rem;
    font-size: 3rem;
    color:white;
}

.section-image-icon {
  height: 4rem;
  width: 4rem;
}

.section-title {
  position:absolute;
  margin-top:1rem;
  margin-left:1rem;
}

.text-content {
  max-width:700px;
  margin: 8px auto;
  padding:8px;
}

.event-card-text {
  min-height:285px;
}

@media (max-width: 839px) {
  .event-card-text {
    min-height:0;
  }
}
